@use '../colors';

.sidebar {
  margin-top: 0px;
  width: 100%;  
  background-color: var(--background);
  height: calc(100vh - 110px);

  a {
    display: block;
    padding: 15px;
    color: var(--primary);
    border-left: 4px solid var(--background-sidebar);
    background-color: var(--background-sidebar);
    border-bottom: 1px solid var(--border-bottom);
  }

  &-icon {
    padding: 5px;
  }

  &-title {
    padding-left: 10px;
  }

  a:hover {
    border-left: 4px solid var(--separator-color);
    background-color: var(--background-sidebar-active);
  }

  &-active {
    background-color: var(--background-sidebar-active) !important;
    border-left: 4px solid var(--separator-color) !important;
  }

}

